.hannamUniversity{
    width: 100%;
    height: 594px;
}

.CollegeSelect > button{
    border-radius: 90px;
    color: white;
}

.Button_college9{
    position: relative;
    top: -540px;
    left: 230px;
}

.Button_college6{
    position: relative;
    top: -530px;
    left: 230px;  
}

.Button_college5{
    position: relative;
    top: -310px;
    left: 185px;  
}

.Button_college56{
    position: relative;
    top: -200px;
    left: -55px;  
}

.Button_college4{
    position: relative;
    top: -395px;
    left: 50px;  
}

.Button_college7{
    position: relative;
    top: -155px;
    left: -120px;  
}

.Button_college3{
    position: relative;
    top: -365px;
    left: -300px;  
}

.Button_college40{
    position: relative;
    top: -130px;
    left: 460px;  
}

.Button_college11{
    position: relative;
    top: -380px;
    left: 155px;  
}

.Button_college72{
    position: relative;
    top: -70px;
    left: 175px;  
}