.Main {
    margin: 0;
}

.title {
    font-size: 70px;
    padding: 140px 150px 210px 150px;
    text-align: center;
    margin: 0;
}

.mainlogIn {
    width: 40%;
    background-color: brown;
    margin:auto;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    color: white;
    position: relative; top: -100px;
}

.home{
    background-image : url("../assets/hannamUniversity.jpg");
    background-size: 100% 100%;
}